*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --colortextos: #575757;
    --colorbotones:#009cb1;
    --colorfondo:#ccf9fcaf;
    --colortitulos:#308aad;
    --colorfondofooter:#a9a9a9;
    --colorfondooscuro:#ffffff;
    --colorenlaceshover:#ffc400;

}
body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}
/* header */

header{
    position:static;
    background-color: var(--colorfondo);
    display: flex;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 65px;
}
header img{
    margin-top:10px;
    margin-left: 30px;
    height: 50px;
}
header ul{
    margin-left: 10px;
    list-style-type: none;
}
header p{
    position:absolute;
    right: 0px;
}

/*ABRIRCERRAR*/
input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}


label[for="abrir-cerrar"] {
    cursor:pointer;
    padding: 1.5em;
    background-color:var(--colorfondofooter);
    color:#fff;
    display:inline-block;
}

.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:300px;
    transition: margin-left .4s;
}


input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--colorfondo);
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color:black;
    text-decoration: none;
    
}

.sidebar a:hover{
    color:#fff;
    background-color: rgb(0, 132, 255);

}

.abrir-cerrar {
    color: #2E88C7;
    font-size:1rem;   
}

/*Botones registro y login*/
button{
    width: 100px;
    margin: 5px;
    padding:5px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    text-transform: uppercase;
}
#boton1{
    color: rgb(0, 156, 177);
}
#boton2{
    background-color: rgb(0, 156, 177);
    color: aliceblue;
}



/* PRIMERA */
#ofertas{
    margin:10px auto;
    background-color: var(--colorfondo);
    width: 65%;
    padding: 15px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 6px 0 #0088bb;
}
#ofertas article{
    border: 3px double #0088bb;
    border-radius: 20px 20px;
    padding: 15px;
    width: 45%;
    margin: 10px;
}
#ofertas article h2{
    font-size: 16px;
    text-decoration: underline;
}
#ofertas article p{
    padding: 3px;
}
#ofertas article a{
    text-decoration: none;
    color: black;
    float: right;
}
#ofertas article a:hover{
    text-decoration: none;
    color:var(--colorenlaceshover);
    float: right;
}
/* SEGUNDA */
#aboutus{
    background-color: var(--colorfondo);
    width: 80%;
    margin-top: 50px;
    
    padding: 15px;
    display: flex;
    height: 25%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 6px 0 #0088bb;
}
#aboutus img{
    width: 500px;
    height: 200px;
    float: left;
}
#aboutus article{
    padding-left: 15px;
} 
#aboutus article a{
    text-decoration: none;
    color: black;
    float: right;
}
#aboutus article a:hover{
    text-decoration: none;
    color:var(--colorenlaceshover);
    float: right;
}

/* FORM LOGIN */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px var(--colortitulos);
  }
  
  h1{
    margin-top:10px;
    margin-bottom: 50px;
    color:var(--colortitulos);
    font-size: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    }
  .inputContainer {
    position: relative;
    height: 45px;
    width: 98%;
    margin-bottom: 17px;
  }
  .input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
  
  /* Hide the placeholder texts (a) */
  
  ::placeholder {
    color: #DADCE0;
  }
  .label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: transparent;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }
  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: var(--colortitulos);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .submitBtn:hover {
    background-color: var(--colortitulos);
    transform: translateY(-2px);
  }
  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: var(--colortitulos);
  }
  .input:focus {
    border: 2px solid var(--colortitulos);
  }
/* EMPRESA USUARIO */

    .selector{
        
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin-top:30px;
        margin-bottom: 100px;
        color:var(--colortitulos);
        font-size: normal;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .selector::before{
        content:"Empresa";        
    }
    .selector:after{
        content:"Usuario";
    }
    .toggle-border {
    border: 2px solid #f0ebeb;
    border-radius: 130px;
    width: 65px;
    margin-bottom: 45px;
    padding: 1px 2px;
    background: linear-gradient(to bottom right, white, rgba(220,220,220,.5)), white;
    box-shadow: 0 0 0 2px #fbfbfb;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   

   .toggle-border:last-child {
    margin-bottom: 0;
   }
   
   .toggle-border input[type="checkbox"] {
    display: none;
   }
   
   .toggle-border label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: ;
    width: 60px;
    height: 20px;
    background: var(--colortitulos);
    border-radius: 80px;
    cursor: pointer;
    box-shadow: inset 0 0 16px rgba(0,0,0,.3);
    transition: background .5s;
   }
   
   .toggle-border input[type="checkbox"]:checked + label {
    background: var(--colortitulos);
   }
   
   .handle {
    position: absolute;
    top: -8px;
    left: -10px;
    width: 35px;
    height: 35px;
    border: 1px solid #e5e5e5;
    background: repeating-radial-gradient(circle at 50% 50%, rgba(200,200,200,.2) 0%, rgba(200,200,200,.2) 2%, transparent 2%, transparent 3%, rgba(200,200,200,.2) 3%, transparent 3%), conic-gradient(white 0%, silver 10%, white 35%, silver 45%, white 60%, silver 70%, white 80%, silver 95%, white 100%);
    border-radius: 50%;
    box-shadow: 3px 5px 10px 0 rgba(0,0,0,.4);
    transition: left .4s;
   }
   
   .toggle-border input[type="checkbox"]:checked + label > .handle {
    left: calc(100% - 35px + 10px);
   }

   /* REGISTRO GOOGLE */
   .imagen{
        width: 99%;        
   }

   /* CHECK BOX */

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.terminos{
    text-align: left;
    font-size: small;
    margin-left: 10px ;
}
.terminos > a {
    color: var(--colortitulos);
}
.terminos > a:hover{
    color:var(--colorenlaceshover);
}
.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  
  .check:hover:before {
    opacity: 1;
  }
  
  .check:hover svg {
    stroke: var(--accent-color, #5b81eb);
  }
  
  #cbx2:checked + .check svg {
    stroke: var(--accent-color, #5b81eb);
  }
  
  #cbx2:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx2:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
  .terminos{
    color:var(--colortitulos);
}

/*footer*/
footer{
    background-color: var(--colorfondofooter);
    width: 100%;
    height: 150px;
    color: var(--colorfondooscuro);
    left: 0px;
    bottom: 0px;
    margin-top: 50px;
    position: relative;
}
footer div{
    display: inline;
    margin-left: 20px;
}
footer img{
    margin-top: 15px;
    height: 25%;
}
footer ul{
    list-style-type: none;
    position: absolute;
    right: 15px;
    padding: 15px;
}
footer a{
    color: var(--colorfondooscuro);
}