*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --colortextos: rgb(87, 87, 87);
    --colorbotones:rgb(0, 156, 177);
    --colorfondo:rgba(204, 249, 252, 0.685);
    --colortitulos:rgb(48, 138, 173);
    --colorfondofooter:darkgray;
    --colorfondooscuro:rgb(255, 255, 255);


}

/* header */

header{
    position:static;
    background-color: var(--colorfondo);
    display: flex;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 65px;
}
header img{
    margin-top:10px;
    margin-left: 30px;
    height: 50px;
}
header ul{
    margin-left: 10px;
    list-style-type: none;
}
header p{
    position:absolute;
    right: 0px;
}

/*ABRIRCERRAR*/
input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}


label[for="abrir-cerrar"] {
    cursor:pointer;
    padding: 1.5em;
    background-color:var(--colorfondofooter);
    color:#fff;
    display:inline-block;
}

.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:300px;
    transition: margin-left .4s;
}


input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--colorfondo);
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color:black;
    text-decoration: none;
    
}

.sidebar a:hover{
    color:#fff;
    background-color: rgb(0, 132, 255);

}

.abrir-cerrar {
    color: #2E88C7;
    font-size:1rem;   
}

/*Botones registro y login*/
button{
    height: 50px;
    width: 50px;
    margin: 5px;
    padding:5px;
    border-radius: 50%;
    line-height:32px;
    text-transform: uppercase;
}
#boton1{
    width: 40px;
    height: 40px;
    background-image: url(images/usuario.png);
    background-size: cover;
    background-position: center;
    color:var(--colorfondooscuro);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 25px;
    margin-top: 10px;
    border: 2px solid black;
}

/*footer*/
footer{
    background-color: var(--colorfondofooter);
    position: relative;
    width: 100%;
    height: 150px;
    color: var(--colorfondooscuro);
    display: flex;
    left: 0px;
    bottom: 0px;
}
footer div{
    display: inline;
    margin-left: 20px;
}
footer img{
    margin-top: 15px;
    height: 25%;
}
footer ul{
    list-style-type: none;
    position: absolute;
    right: 15px;
    padding: 15px;
}
footer a{
    color: var(--colorfondooscuro);
}


/**MAIN*/
main h1{
    margin: 40px;
    margin-bottom: 0;
    color:var(--colortitulos);
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 55px;
}

main {
    margin: 15px;
    margin-bottom: 100px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 20px;
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    background-color:#fff;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px 20px 0 20px;
  }
  
  .page-content .header {
    font-size: 26px;
    color: var(--colortitulos);
    margin-top: 30px;
  }
  
  .content-categories {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
  }
  
  .nav-item {
    display: none;
  }
  
  .category {
    font-weight: 500;
    color: var(--secondary-color);
    border-bottom: 1px solid #ddd;
    transition: 0.4s ease-in;
    padding: 20px 30px;
    cursor: pointer;
  }
  
  #opt-1:checked + label,
  #opt-2:checked + label,
  #opt-3:checked + label,
  #opt-4:checked + label {
    color: var(--colortitulos));
    border-bottom: 2px solid var(--checkbox-color);
  }
  
  
  .task-item {
    display: none;
  }
  .tasks-wrapper {
    padding: 30px 0;
    flex: 1;
    overflow-y: auto;
    height: 100%;
    padding-right: 8px;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 16px;
    padding-left: 30px;
    color: var(--colortextos);
    font-size: 13px;
    font-weight: 500;
  }
  .task:hover {
    transform: translatex(2px);
  }
  .task label {
    cursor: pointer;
  }
  label .label-text {
    position: relative;
  }
  label .label-text:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 2px;
    left: -24px;
    transition: 0.2s ease;
  }
  
  .task-item:checked + label .label-text:before {
    background-color: var(--colorfondo);
    border: 1px solid var(--colortitulos);
  }
  .tag {
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 20px;
  }
  .tag.approved {
    background-color: var(--tag-color-one);
    color: lightgreen;
  }
  .tag.progress {
    background-color: var(--tag-color-two);
    color: gold;
  }
  .tag.review {
    background-color: var(--tag-color-three);
    color: red;
  }
  .tag.waiting {
    background-color: var(--tag-color-four);
    color: lightskyblue;
  }
  
  .upcoming {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }


