*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --colortextos: rgb(87, 87, 87);
    --colorbotones:rgb(0, 156, 177);
    --colorfondo:rgba(204, 249, 252, 0.685);
    --colortitulos:rgb(48, 138, 173);
    --colorfondofooter:darkgray;
    --colorfondooscuro:rgb(255, 255, 255);


}

/* header */

header{
    position:static;
    background-color: var(--colorfondo);
    display: flex;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 65px;
}
header img{
    margin-top:10px;
    margin-left: 30px;
    height: 50px;
}
header ul{
    margin-left: 10px;
    list-style-type: none;
}
header p{
    position:absolute;
    right: 0px;
}
/*ABRIRCERRAR*/
input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}


label[for="abrir-cerrar"] {
    cursor:pointer;
    padding: 1.5em;
    background-color:var(--colorfondofooter);
    color:#fff;
    display:inline-block;
}

.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:300px;
    transition: margin-left .4s;
}


input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--colorfondo);
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color:black;
    text-decoration: none;
    
}

.sidebar a:hover{
    color:#fff;
    background-color: rgb(0, 132, 255);

}

.abrir-cerrar {
    color: #2E88C7;
    font-size:1rem;   
}

/*Botones registro y login*/
button{
    height: 50px;
    width: 50px;
    margin: 5px;
    padding:5px;
    border-radius: 50%;
    line-height:32px;
    text-transform: uppercase;
}
#usuario{
    width: 40px;
    height: 40px;
    background-image: url(images/usuario.png);
    background-size: cover;
    background-position: center;
    color:var(--colorfondooscuro);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 25px;
    margin-top: 10px;
    border: 2px solid black;
}

/*footer*/
footer{
    background-color: var(--colorfondofooter);
    position: absolute;
    width: 100%;
    height: 150px;
    color: var(--colorfondooscuro);
    display: flex;
    left: 0px;
    bottom: 0px;
}
footer div{
    display: inline;
    margin-left: 20px;
}
footer img{
    margin-top: 15px;
    height: 25%;
}
footer ul{
    list-style-type: none;
    position: absolute;
    right: 15px;
    padding: 15px;
}
footer a{
    color: var(--colorfondooscuro);
}

/*MENU USUARIO*/

.menu_usuario{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 60vh;
}
.titulo-seccion{
    text-align: center;
    font-size: 35px;
    color: var(--colortitulos);
}
.menu{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.menu a{
    text-decoration: none;
}
.opcionmenu{
    font-size: 20px;
    width: 10em;
    height: 10em;
    background-image: url(images/menu_usuario_01.png);
    background-size: cover;
    background-position: center;
    color:var(--colorfondooscuro);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 50px;
}