body{
    margin: 0px;
}
header{
    position: absolute;
    background-color: rgba(204, 249, 252, 0.685);
    display: flex;
    width: 100%;
}
header img{
    margin-top: 15px;
    margin-left: 30%;
    height: 50px;
}
header ul{
    list-style-type: none;
}
header p{
    margin-top: 33px;
    margin-left: 37%;
}
footer{
    background-color: darkgray;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    color: white;
}
footer ul{
    list-style-type: none;
}
footer a{
    color: white;
}